
.team-info-container h2 {
    padding: 1em;
    font-weight: bold;
}

.assign-task-submit-btn{
    display: inline-block;
    background-color: #7676b3;;
    color: white;
    padding: 5px;
    border:solid #4c395f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    z-index: 2;
    height: 3em;
    width: 7em;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    margin-right: auto;
}

.assign-task-submit-btn:hover{
    background: #443a4e;
    color: white;
}
.assign-task-container {
    max-width: 550px;
    min-height: 300px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    background-color: #99aee4;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}