/* Form */

.team-form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 600px;
    margin: auto;
    position: relative;
    padding: 20px;
}

.team-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
}

.team-form textarea {
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%; 
    max-width: 600px;
    height: 100px; 
    resize: vertical; 
}

/* Button */

.create-team-btn {
    display: inline-block;
    background-color: #f1b0b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 7em;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    height: 2em;
    margin-top: 1em;
    padding: 5px;
}

.create-team-btn:hover{
    background: #947bad;
    color: white;
}

.nameClass {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(57, 9, 83);
    border-radius: 5px;
}

.descriptionClass {
    height: 100px;
}
.clearfix{
    clear:both
}

.form-btns {
    display: flex;
}

.teamcontainer {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.623);
    background: linear-gradient(to bottom right, #F4C2C2, #C2F4F4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.589);
}

#id_team_name,
#id_description,
#id_members_to_invite {
    background-color: rgba(0, 0, 0, 0.342); 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    color: #ffffff; 
    width: 100%;
}

input#id_team_name::placeholder,
textarea#id_description::placeholder,
input#id_members_to_invite::placeholder {
color: rgb(255, 253, 253); 
}

.createteamtext {
    font-weight: bolder;
    font-size: 1.5em;
}

.teamcreatecard {
    width: 90%;
}