.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
  }

  .home-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 400px;
    max-width: 700px;
    border: 1px solid rgb(155, 140, 151);
    background-color: transparent;
  }

  .section1, .section2 {
    flex: 1; 
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
  }

  .section1 {
    color: rgb(13, 84, 94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #F4C2C2
  }

  .section2 {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color: #C2DBF4
  }

  .cover-heading {
    font-size: 2.2em;
    margin-bottom: 10px;
  }

  .cover-text {
    font-size: 1.2em;
  }

  .home-btn {
    background-color: #F7CAC9;
    color: #532b2c;
    border: 1px solid #7c494b;
    width: 200px;
    transition: ease-in 0.3s;
  }

  .home-btn:hover{
    background-color: transparent;
    color: #532b2c;
  }