.delete-lane-form {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #99aee4;
}

.delete-lane-form label {
  font-weight: bold;
}

.submit-lane-delete-btn, .cancel-delete-lane-btn {
    display: inline-block;
    background-color: #7676b3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    z-index: 2;
    width: 80px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
}

.submit-delete-lane-btn:hover, .cancel-delete-lane-btn:hover {
  background-color: #443a4e;
    color: white;
}

.delete-form input[type="checkbox"].confirmClass {
  display: inline;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}