.navbar-name{
    text-decoration: none;
    font-size: 1rem;
    border-radius: 2px;
    color: white;
    margin-right: 10px;
}

.navbar-team-name{
    margin-top: 0;
    margin-bottom: 0;
}

.team-btn{
    width:auto;
    padding:5px;
}

.navbar-team{
    color: white;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    width:40vw;
    word-wrap: break-word;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}

.navbar-user{
    color: white;
    margin-right: 3em;
}

.navbar-name {
    color: #F4C2C2;
    font-size: 1.5rem;
}

.navbar-name:hover{
    color: #C2F4F4;
}

.invite-btn{
    background: none;
    border: none;
}