.task-edit-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.task-edit-container h2 {
  color: #000000;
  margin-right:auto;
}

.task-details {
  margin-top: 20px;
}

.submit-edit-btn{
  display: inline-block;
  background-color: #7676b3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 2;
  width: 5em;
  height: 3em;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.submit-edit-btn:hover{
  background: #28242c;
  color: white;
}

.task-header {
  display: flex;
}

.task-edit-form textarea {
padding: 10px;
border: 1px solid grey;
border-radius: 5px;
box-sizing: border-box;
width: 100%; 
max-width: 600px;
height: 100px; 
resize: vertical; 
}

.cancel-edit-btn {
  display: inline-block;
  background-color: #7676b3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 2;
  width: 5em;
  height: 3em;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.cancel-edit-btn:hover {
  background: #28242c;
  color: white;
}