.team-info-items{
    width: 90%;
}

.team-info-container {
    border: 1px solid rgba(255, 255, 255, 0.623);
    background: linear-gradient(to bottom right, #F4C2C2, #C2F4F4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.589);
    height: 100%;
    width: 100%;
}

.team-info-container h2 {
    padding: 10px;
    font-weight: bold;
}

.field-label {
    font-weight: bold;
}

.field-value {
    margin-bottom: 10px;
}