{% extends 'base_content.html' %}
{% block content %}

<style>
  body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right,  #F4C2C2, #C2F4F4);
  }
</style>

<div class="assign-task-container">
  <div class="assign-task-row row">
    <div class="assign-task-card">
      <h1>Assign Task: {{ task_name }}</h1>
      <form action ="{{ assign_task_url }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Assign Task" class="btn assign-task-submit-btn">
      </form>
    </div>
  </div>
</div>
  

{% endblock %}