{% extends 'base_content.html' %}
{% block content %}

<style>
  * {
      scrollbar-width: thin;
      scrollbar-color: #888 transparent;
  }

  ::-webkit-scrollbar-thumb {
      background: #ffffff88;
      border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
      background: #555555;
  }

  body{
    background: linear-gradient(to bottom right, #F4C2C2, #C2F4F4);
  }
</style>

<div class="flex-container">
  <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <ul>
      <div class="add-team-style">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#create_team" aria-expanded="false" aria-controls="create_team" style="border-color: transparent transparent transparent orange">Add Team</button>
      </div>
    </ul>

    <h6 class="your-teams-label">Your Teams:</h6>
    <hr class="dashboard-hr">
    {% for team in teams %}

    <ul style="display: flex; align-items: center;">
      <!-- Switch dashboard by pressing team name -->
      <form method="get" style="display: inline; flex-grow: 1;">
          <button type="submit" name="dashboard_team" value="{{ team.id }}">
              {{ team.team_name }}
          </button>
      </form>

      <div style="display: flex; justify-content: end;">

        <!-- Delete team, shown if you are the team's creator -->
        {% if user == team.team_creator %}
        <form method="post" style="display: inline;" action="{% url 'delete_team' team.id %}">
        {% csrf_token %}
          <button type="submit" class="dashboard-image" title="Delete Team">
            <img src="../../static/images/bin-icon-blue.png" alt="Delete Icon">
          </button>
        </form>
        {% endif %}
      </div>
      </ul>
      {% endfor %}
  </nav>
  
  <!--Used to be container board-->
  <div class="board-container">
    <div class="row">
      <div class="d-flex align-items-start" style="margin-top: 1em; margin-left: 1em;">
        <div class="board">
          <!-- Lanes of the dashboard -->
          {% for lane in lanes %}
          <div class="lane">
            <div class="lane-header" style="display: flex; justify-content: space-between; align-items: center;">
              
              <!-- Move lane left form -->
              <form method="post" action="{% url 'dashboard' %}" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="move_lane_left" value="{{ lane.id }}">
                <button type="submit" class="dashboard-image" title="Move lane left">
                    <img src="../../static/images/move-left-icon.png">
                </button>
              </form>

            <form method="post" action="{% url 'dashboard' %}" style="display: inline;">
            {% csrf_token %}
              <!-- Checkbox the user toggles to rename the label -->
              <input type="hidden" name="rename_lane" value="{{ lane.id }}">
              <input type="checkbox" id="lane-name-{{ forloop.counter }}" class="toggle-lane-name" style="display:none;">

              <!-- Label name -->
              <label for="lane-name-{{ forloop.counter }}" class="lane-name-label">{{ lane.lane_name }}</label>

              <!-- Text input for the label name -->
              <input type="text" name="new_lane_name" value="{{ lane.lane_name }}" required class="lane-name-input">
              <input type="submit" name="rename_lane" value="{{ lane.id }}" style="display: none;">
            </form>

            <!-- Move lane right form -->
            <form method="post" action="{% url 'dashboard' %}" style="display: inline;">
              {% csrf_token %}
              <input type="hidden" name="move_lane_right" value="{{ lane.id }}">
              <button type="submit" class="dashboard-image" title="Move lane right">
                  <img src="../../static/images/move-right-icon.png">
              </button>
            </form>

            <!-- Delete lane form -->
            <form method="post" action="{% url 'lane_delete' lane.id %}" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="delete_lane" value="{{ lane.id }}">
                <button type="submit" class="dashboard-image" title="Delete lane">
                    <img src="../../static/images/bin-icon.png">
                </button>
            </form>
          </div>

          <!-- Tasks for each lane -->
          {% for task in tasks %}
          {% if task.lane_id == lane.id %}
          <div class="task-dashboard">
            <!-- Form for moving tasks to the left lane -->
            <form method="post" action="{% url 'dashboard' %}">
              {% csrf_token %}
              <input type="hidden" name="move_task_left" value="{{ task.id }}">
              <button type="submit" class="dashboard-image" title="Move task left">
                <img src="../../static/images/move-left-icon-grey.png">
              </button>
            </form>
            
            <span style="margin-top: 1em;">
              <!-- Tasks with a dependency are blue -->
              {% if task.dependencies.all.count > 0 %}
              <p style="color: #1933d8;">
                {{ task.name }}
              </p>
              {% else %}
              <p>
                {{ task.name }}
              </p>
              {% endif %}
            </span>

            <!-- Form for moving task to the right lane -->
            <form method="post" action="{% url 'dashboard' %}">
            {% csrf_token %}
              <input type="hidden" name="move_task_right" value="{{ task.id }}">
              <button type="submit" class="dashboard-image" title="Move task right">
                <img src="../../static/images/move-right-icon-grey.png">
              </button>
            </form>

            <!-- Assign a Task -->
            <form method="get" action="{% url 'assign_task' task.id %}">
              {% csrf_token %}
              <button type="submit" class="dashboard-image" title="Assign Task">
                <img src="../../static/images/person-icon-grey.png">
              </button>
            </form>

            <!-- View/edit task form -->
            <form method="get" action="{% url 'task' task.id %}">
              {% csrf_token %}
              <button type="submit" class="dashboard-image" title="View and edit task">
                <img src="../../static/images/edit-icon-grey.png">
              </button>
            </form>

            <!-- Delete task form -->
            <form method="post" action="{% url 'task_delete' task.id %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="dashboard-image" title="Delete task">
                <img src="../../static/images/bin-icon-grey.png">
              </button>
            </form>
          </div>
          {% endif %}
          {% empty %}
            <p>No tasks currently in this lane.</p>
          {% endfor %}
    
          <!-- <button type="submit" class="btn btn-secondary" style="width: 100%;">New Task</button> -->
          <button type="button" class="new-task-btn btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#create_task{{ lane.id }}" aria-expanded="false" aria-controls="create_task {{ lane.id }}" style="width: 100%;">New Task</button>
        </div>
        {% endfor %}
      </div>
        <!-- Add lane form -->
        <form method="post" action="{% url 'dashboard' %}" class="ms-2">
          {% csrf_token %}
          <button type="submit" name="add_lane" class="btn btn-dark">Add Lane</button>
        </form>
      </div>
    </div>
  </div>
  
  <!-- Popups -->
  <div class="accordion" id="popup">

    <!--View Team Info-->
    <div class="accordion-collapse collapse" id="team_info" data-bs-parent="#popup">
      <article id="popup_panel">
        {% include 'team_info.html' with team=current_team %}
      </article>
    </div>

    <!-- Create task popup-->
    {% for lane in lanes %}
      <div class="accordion-collapse collapse" id="create_task{{ lane.id }}" data-bs-parent="#popup" style="width: 100%;">
        <article id="popup_panel" style="overflow: auto;">
          {% include 'task_create_popup.html' with form=create_task_form lane_id=lane.id %}
        </article>
      </div>
    {% endfor %}

    <!-- Create team popup -->
    <div class="accordion-collapse collapse" id="create_team" data-bs-parent="#popup">
      <article id="popup_panel" style="overflow: auto;">
        {% include 'create_team.html' with team_form=create_team_form %}
      </article>
    </div>

    <!-- Invite team members popup -->
    <div class="accordion-collapse collapse" id="invite_member" data-bs-parent="#popup">
      <article id="popup_panel" style="overflow: auto;">
        {% include 'invite.html' with invite_form=invite_form %}
      </article>
    </div>
  </div>
</div>

{% endblock %}