{% extends 'base_content.html' %}
{% block content %}
{% include 'partials/messages.html' %}

<style>
  body{
    background: linear-gradient(to bottom right,  #F4C2C2, #C2F4F4);
    height:100vh;
    width: 100%;
    color: white;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
</style>

<div class="container">
  <title>Delete Team</title>
  
    <form method="post" action="{{ delete_url }}" class="delete-team-form">
      {% csrf_token %}
      <h4>Are you sure you want to delete the team "{{ team.team_name }}"?</h4>
      {{ delete_form }}
      <div>
        <button type="submit" class="delete-team-btn btn btn-primary">Submit</button>
        <a href="{% url 'dashboard' %}" class="cancel-button">Cancel</a>
      </div>
    </form>
</div>
{% endblock %}