{% extends 'base.html' %}
{% block body %}
<style>
  body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #F4C2C2, #C2F4F4);
  }
</style>
{#<div id='cover-image'>#}
  <div class="home-container container">
        <div class="home-card card">
          <div class="section1">
            <h1 class="cover-heading">KangarooTaskaroo</h1>
            <p class="cover-text">A task manager application by Team <i>kangaroo</i></p>
          </div>
          <div class="section2">
            <p>
              <a href='{% url 'sign_up' %}' class="btn btn-lg btn-secondary home-btn">
                Sign up
              </a>
            </p>
            <p>
              <a href='{% url 'log_in' %}' class="btn btn-lg btn-secondary home-btn">
                Log in
              </a>
            </p>
          </div>
      </div>
  </div>
{#</div>#}
{% endblock %}
