{% load widget_tweaks %}
{% block content %}

<div class="team-info-container">
  <div class="invite-row row">
    <div class="team-info-items">
      <div class="flex">
        <h2>Make an invite</h2>
        <form action ="{%url 'create_invite'%}" method="post">
          {% csrf_token %}
          {% for field in invite_form %}
          <div class="mb-3">
            {{ field.label_tag }}
            {% if form.is_bound %}
              {% if field.errors %}
                {% if field.name == "users_to_invite" %}
                  {% render_field field class="basicAutoCompleteInvite form-control is-invalid" %}
                {% else %}
                  {% render_field field class="form-control is-invalid" %}
                {% endif %}
              {% else %}
                {% if field.name == "users_to_invite" %}
                    {% render_field field class="basicAutoCompleteInvite form-control is-valid" %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
              {% endif %}
            {% else %}
              {% if field.name == "users_to_invite" %}
                  {% render_field field class="basicAutoCompleteInvite form-control" %}
              {% else %}
                  {% render_field field class="form-control" %}
              {% endif %}
            {% endif %}
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              {{ field.errors }}
            </div>
          </div>
          {% endfor %}
        <input type="submit" value="Create Invite" class="invite-btn">
        </form>

      </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- Autocomplete for long forms -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../../static/javascript/bootstrap-autocomplete.js"></script>
<script src="../../static/javascript/basic_autocomplete.js"> </script>
{% endblock %}  