{% extends 'base_content.html' %}
{% block content %}
{% include 'partials/messages.html' %}

<style>
  body{
    background: linear-gradient(to bottom right,  #F4C2C2, #C2F4F4);
    width: 100vw;
    height: 100vh;
  }

</style>
<div class="container">
  <title>Delete Lane</title>
  
    <form method="post" action="{{ delete_url }}" class="delete-lane-form form">
      {% csrf_token %}
      <h4>Are you sure you want to delete "{{ lane.lane_name }}"?</h4>
      {{ delete_form }}
      <div>
        <button type="submit" class="submit-lane-delete-btn btn btn-primary">Submit</button>
        <a href="{% url 'dashboard' %}" class="cancel-delete-lane-btn">Cancel</a>
      </div>
    </form>
</div>
{% endblock %}