{% extends 'base.html' %}
{% block body %}

<style>
  body{
    color: #2c2c6b;
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #F4C2C2, #C2F4F4);
  }
</style>

<div class="log-in-container container">
  <div class="alert-container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }}" role="alert" style="margin-bottom: 16em;">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="log-in-row row">
    <div class="log-in-form">
      <h1 style="text-align: center;">Log in</h1>
      <form action="{% url 'log_in' %}" method="post">
        
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form %}
        <div class="buttons">
          <input type="submit" value="Log in" class="log-in-btn btn">
          <a href="/" class="back-btn btn log-in-btn">Back</a>
        </div>
      </form>
      <a href="{% url 'sign_up' %}" class="signup-link">Don't have an account? Sign up.</a>
    </div>
  </div>
</div>

{% endblock %}