{% extends 'base_content.html' %}
{% block content %}

<style>
  body{
    color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom right,  #F4C2C2, #C2F4F4);
  }
</style>

<div class="container">
  <div class="password-row row">
    <div class="password-card">
      <div class="password-form">
            <h1>Change Password</h1>
            <form action="{% url 'password' %}" method="post">
              {% csrf_token %}
              {% include 'partials/bootstrap_form.html' with form=form %}
              <input type="submit" value="Change password" class="password-btn btn btn-primary">
            </form>
          </div>
    </div>
  </div>
</div>
{% endblock %}