{% extends 'base_content.html' %}
{% block content %}

    <style>
        body {
            color: rgb(0, 0, 0);
            height: 100vh;
            width: 100vw;
            background: linear-gradient(to bottom right, #F4C2C2, #C2F4F4);
            margin: 0;
        }
    </style>

   <div class="profile-container container">
    <div class="profile-row row">
        <div class="profile-card">
            <h1 class="profile-title">Edit Profile</h1>
            <div class="media">
                <!-- Check if user has an avatar -->
                <img src="{{ user.gravatar }}" class="my-image"alt="Gravatar Image">
                <div class="media-body">
                    <h2 class="account-heading">Username: {{ user.username }}</h2>
                    <p class="text-secondary">Email: {{ user.email }}</p>
                </div>
            </div>
            <div class="profile-form">
                <form action="{% url 'profile' %}" method="post" style="width: 70%;">
                    {% csrf_token %}
                    {% include 'partials/bootstrap_form.html' with form=form %}
                    <input type="submit" value="Update" class="update-profile-btn btn btn-primary">
                </form>
                
            </div>
        </div>
    </div>
</div>


{% endblock %}