{% extends 'base_content.html' %}
{% block content %}
{% include 'partials/messages.html' %}

<style>
    body {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to bottom right,  #F4C2C2, #C2F4F4);
    }
</style>

<div class="task-info-container">
    <div class="task-info">
        <div class="task-header">
            <h2>Task Details</h2>
            <div class="task-info-btn">
                <a href="{% url 'task_edit' task.id %}" class="edit-button">Edit</a>
                <a href="{% url 'dashboard' %}" class="back-button">Back</a>
            </div>
        </div>
        <div class="task-details">
            <div class="field-label">Name:</div>
            <div class="field-value">{{ task.name }}</div>

            <div class="field-label">Description:</div>
            <div class="field-value" style="max-width:540px;word-wrap:break-word;">{{ task.description }}</div>

            <div class="field-label">Due Date:</div>
            <div class="field-value">{{ task.due_date }}</div>

            <div class="field-label">Created At:</div>
            <div class="field-value">{{ task.created_at }}</div>

            <div class="field-label">Current Lane:</div>
            <div class="field-value">{{ task.lane }}</div>

            <div class="field-label">Task Dependencies:</div>
            {% if task.dependencies.all.count > 0 %}
            <div class="field-value">{{ task.dependencies.all|join:", " }}</div>
            {% else %}
            <div class="field-value">(There are no dependencies)</div>
            {% endif %}

            <div class="field-label">Assigned Team:</div>
            <div class="field-value">{{ task.assigned_team }}</div>

            <div class="field-label">Assigned Users:</div>
            <div class="field-value">{{ task.get_assigned_users|join:", " }}</div>
        </div>
    </div>
</div>
{% endblock %}